.Cell {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
}

.Cell--rock {
    background-color: #666;
}

.Cell--earth {
    background-color: #fff;
}

.Cell--enemy,
.Cell--boss,
.Cell--player,
.Cell--health,
.Cell--weapon,
.Cell--exit {
    border-radius: 50%;
}

.Cell--enemy,
.Cell--boss {
    background-color: #c00;
}

.Cell--boss {
    position: relative;
}

.Cell--boss::after {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    left: -8px;
    top: -8px;
    background-color: transparent;
    border-radius: 50%;
    border: solid thin #f00;
}

.Cell--player {
    background-color: #00c;
}

.Cell--health {
    background-color: #0c0;
}

.Cell--weapon {
    background-color: gold;
}

.Cell--exit {
    background-color: purple;
}
