.Cell {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-size: contain;
}

.Cell--rock {
    background-color: #666;
    background-image: url("../../resources/img/textures/blackbrick.jpg");
}

.Cell--earth {
    background-color: #fff;
    background-image: url("../../resources/img/textures/gravel.jpg");
}

.Cell--enemy,
.Cell--boss,
.Cell--health,
.Cell--weapon,
.Cell--exit {
    border-radius: 50%;
}

.Cell--enemy,
.Cell--boss {
    background-color: #c00;
}

.Cell--boss {
    position: relative;
    box-shadow: 0 0 20px rgba(200, 0, 0, 0.75);
}

.Cell--player {
    position: relative;
    background-image: url("../../resources/img/textures/gravel.jpg");
}

.Cell--player::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 0 0 40px 25px rgba(255, 255, 255, 0.75);
    content: '';
}

.Cell--player::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent url("../../resources/img/hero.svg") center center no-repeat;
    background-size: contain;
    content: '';
}

.Cell--health {
    background-color: #0c0;
}

.Cell--weapon {
    background-color: gold;
}

.Cell--exit {
    background-color: purple;
}
