.StatsList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    border: solid thin #eee;
    color: #eee;
    text-shadow: 1px 1px 0 black;
}

.StatsList__item {
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    border-right: solid thin #eee;
}
