.StatsList {
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    color: #eee;
    background-color: #111111;
    border-radius: 0.25rem;
}

.StatsList__item {
    border-bottom: #eeeeee solid thin;
    padding: 0.5rem 0;
    display: flex;
}

.StatsList__item:first-child {
    padding-top: 0;
}

.StatsList__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.StatsList__attribute-name {
    flex-basis: 6rem;
}
