.App {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.App__game-data {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    order: 2;
    width: calc((5 / 16) * 100%);
}

.App__headline {
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}

.App__footer {
    font-size: 0.75rem;
}

.App__board {
    margin-right: auto;
    order: 1;
    overflow: hidden;
    width: calc((11 / 16) * 100%);
}