.App {
    width: calc(100vw - 2rem);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.App__headline {
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}

.App__footer {
    font-size: 0.75rem;
}
