.App {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.App__gamedata {
    margin-left: auto;
    display: flex;
    order: 2;
    flex: 5 5 auto;
}

.App__headline {
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}

.App__footer {
    font-size: 0.75rem;
}

.App__board {
    margin-right: auto;
    order: -1;
    overflow: hidden;
    flex: 11 11 auto;
}